                </div>
                
            </div>
            
            <div id="sidebar">
                
                <div class="widget widget_recent_entries">  
                    <h3>API Questions</h3>
                    <p align="center"><a href="http://bit.ly/1dQHdgR" target="_blank"><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-question-mark.png" width="125" /></a></p>
                    <p align="center"><a href="http://bit.ly/1dQHdgR" target="_blank" style="font-size: 16px; font-weight: bold;">Have API Questions?</a></p>
                </div> 
                       
                 <div class="widget widget_recent_entries">  
                     <h3>Winning in the API Economy</h3>
                    <table width="250" align="center">
                    <tbody>
                        <tr>
                            <td align="center"><a href="http://bit.ly/1cHBhd5" target="_blank"><img src="https://s3.amazonaws.com/kinlane-productions/api-service-providers/3Scale/ebook-3scale.png" width="200" style="border: 0px solid #000;" /></a></td>
                        </tr>
                        <tr>
                            <td align="center"><strong><a href="http://bit.ly/1cHBhd5" target="_blank">Download as PDF</a></strong></td>
                        </tr>
                    </tbody>
                    </table>  
                 </div>                                                      
                
                 <div class="widget widget_recent_entries">  
                     
                     <h3>API Evangelist Network</h3>
                 
                     <p align="center"><a href="/network.html"><img src="https://s3.amazonaws.com/kinlane-productions/api-evangelist/network/API-Evangelist-Network.png" width="215" /></a></p>
                    
                 </div>
                
                 <div class="widget widget_recent_entries">  
                     
                    <!--- Begin Partners --->
                    <script id="parterListingTemplate" type="text/template"> 
                        {% raw  %}  
                        <a href="{{url}}" target="_blank" title="{{title}}">
                            <img src="{{logo}}" width="{{width}}" style="padding-bottom: {{paddingbottom}}px;" />
                        </a>   
                        {% endraw %}                                                                                                                    
                    </script>  
                     
                    <script type="text/javascript">
                        function listSponsors()
                            {
                            $.getJSON('/fda-recalls/data/sponsors.json', function(data) {               
                                 $.each(data['sponsors'], function(key, val) {                  
                                    var template = $('#parterListingTemplate').html();
                                    var html = Mustache.to_html(template, val);
                                    $('#partnerListingContainer').append(html);
                                    });         
                                });             
                            }    
                    </script>
               
                    <h3>Partner Sites</h3>
                    <div id="partnerListingContainer" align="center"><br /><br /> </div>
                    
                    <script type="text/javascript">
                        listSponsors();
                    </script>                    
                        
                </div>  
                <!--- End Partners --->   
                                                             
            </div>
            
        </div>
    </div>
    
    <div id="footer" class="col-full">
        <div id="copyright" class="col-left">
            <p><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a></p>        
        </div>
        <div id="credit" class="col-right">
            
        </div>
    </div>
    
</div>

<script>
    
    function get_radio_value( radioName ) {
        var radios = document.getElementsByName( radioName );
        for( var i = 0; i < radios.length; i++ ) {
            if( radios[i].checked ) {
                return radios[i].value;
            }
        }
    }
    
    function to_json(workbook) {
        var result = {};
        workbook.SheetNames.forEach(function(sheetName) {
            var roa = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
            if(roa.length > 0){
                result[sheetName] = roa;
            }
        });
        return result;
    }
    
    function to_csv(workbook) {
        var result = [];
        workbook.SheetNames.forEach(function(sheetName) {
            var csv = XLSX.utils.sheet_to_csv(workbook.Sheets[sheetName]);
            if(csv.length > 0){
                result.push("SHEET: " + sheetName);
                result.push("");
                result.push(csv);
            }
        });
        return result.join("\n");
    }
    
    function to_formulae(workbook) {
        var result = [];
        workbook.SheetNames.forEach(function(sheetName) {
            var formulae = XLSX.utils.get_formulae(workbook.Sheets[sheetName]);
            if(formulae.length > 0){
                result.push("SHEET: " + sheetName);
                result.push("");
                result.push(formulae.join("\n"));
            }
        });
        return result.join("\n");
    }
    
    function process_wb(wb) {
        var output = "";
        switch(get_radio_value("format")) {
            case "json":
            output = JSON.stringify(to_json(wb), 2, 2);
                break;
            case "form":
                output = to_formulae(wb);
                break; 
            default:
            output = to_csv(wb);
        }
        if(out.innerText === undefined) out.textContent = output;
        else out.innerText = output;
    }
    
    var drop = document.getElementById('drop');
    function handleDrop(e) {
        e.stopPropagation();
        e.preventDefault();
        var files = e.dataTransfer.files;
        var i,f;
        for (i = 0, f = files[i]; i != files.length; ++i) {
            var reader = new FileReader();
            var name = f.name;
            reader.onload = function(e) {
                var data = e.target.result;
                //var wb = XLSX.read(data, {type: 'binary'});
                var arr = String.fromCharCode.apply(null, new Uint8Array(data));
                var wb = XLSX.read(btoa(arr), {type: 'base64'});
                process_wb(wb);
            };
            //reader.readAsBinaryString(f);
            reader.readAsArrayBuffer(f);
        }
    }
    
    function handleDragover(e) {
        e.stopPropagation();
        e.preventDefault();
        e.dataTransfer.dropEffect = 'copy';
    }
    
    if(drop.addEventListener) {
        drop.addEventListener('dragenter', handleDragover, false);
        drop.addEventListener('dragover', handleDragover, false);
        drop.addEventListener('drop', handleDrop, false);
    }
</script>
